OPENAI_API_KEY=
OPENAI_MODEL=text-embedding-3-small
PROVIDER=openai
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=WW2
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=
TILLADTE_KALDERE=
CHUNK_SIZE=300
URL_FILE="samlet_input.txt"