<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Danskernes Historie Online</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <header>
        <div class="header-content">
            <h1>Danskernes Historie Online</h1>
        </div>
    </header>
    
    <main>
        <section class="search-section">
            <form method="POST" action="/search">
                <div class="search-bar">
                    <input id="search_text" name="search_text" type="search" placeholder="Semantisk søgning" value="{{ search_text }}">
                    <button type="submit" name="search_button" margin="30px">Søg</button>
                </div>
                <br/>
                <br/>
                <div style="display: grid; grid-template-columns: 250px 600px;">
                    <div style="align-items: end; padding-left: 50px;">Chunk størrelse i antal ord:</div>
                    <ul style="list-style-type: none; padding: 0; margin: 0; align-items: start;">
                        <li style="display: inline;"><label><input type="radio" name="chunk_size" value="mini" {% if chunk_size == 'mini' %}checked{% endif %}> Mini (50)</label></li>
                        <li style="display: inline;"><label><input type="radio" name="chunk_size" value="lille" {% if chunk_size == 'lille' %}checked{% endif %}> Lille (100)</label></li>
                        <li style="display: inline;"><label><input type="radio" name="chunk_size" value=" medium" {% if chunk_size == 'medium' %}checked{% endif %}> Medium (300)</label></li>
                        <li style="display: inline;"><label><input type="radio" name="chunk_size" value="stor" {% if chunk_size == 'stor' %}checked{% endif %}> Stor (500)</label></li>
                    </ul>
                </div>
                </form>
            <ul id="search_results">
                {% for result in search_results %}
                <li>
                    <div class="flex-container">
                        <div class="flex-item">Distance: {{ result.distance }}</div>
                        <div class="flex-item flex-grow">Forfatter: {{ result.forfatter }}</div>
                        <div class="flex-item flex-grow">Titel: {{ result.titel }}</div>
                        <div class="flex-item"><a href='{{ result.pdf_navn }}')" target="_blank">Vis bog</a></div>
                    </div>
                    <div>
                        <textarea rows="5">{{ result.chunk }}</textarea>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <script>
        const searchTextInput = document.getElementById('search_text');
        const searchButton = document.querySelector('button[name="search_button"]');
      
        searchTextInput.addEventListener('input', function() {
          if (searchTextInput.value.trim() === '') {
            searchButton.disabled = true;
            search_results.innerHTML = '';
          }
          searchButton.disabled = searchTextInput.value.trim() === '';
        });
        
        function toggleLabel() {
            const checkbox = document.getElementById('chunk_size');
            const label = document.getElementById('chunkLabel');
            label.textContent = checkbox.checked ? 'stor' : 'lille';
        }
     </script>
</body>
</html>
